<h1>Relação de Pessoas Físicas:</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Endereço</th>
      <th>Número</th>
      <th>Complemento</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Telefone</th>
      <th>CPF</th>
      <th>Conta Corrente</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoafisicas.each do |pessoafisica| %>
      <tr>
        <td><%= pessoafisica.nome %></td>
        <td><%= pessoafisica.datanascimento %></td>
        <td><%= pessoafisica.endereco %></td>
        <td><%= pessoafisica.numero %></td>
        <td><%= pessoafisica.complemento %></td>
        <td><%= pessoafisica.bairro %></td>
        <td><%= pessoafisica.cidade %></td>
        <td><%= pessoafisica.estado %></td>
        <td><%= pessoafisica.telefone %></td>
        <td><%= pessoafisica.cpf %></td>
        <td><%= pessoafisica.contacorrente %></td>
        <td><%= link_to 'Ver', pessoafisica %></td>
        <td><%= link_to 'Editar', edit_pessoafisica_path(pessoafisica) %></td>
        <td><%= link_to 'Excluir', pessoafisica, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Pessoa Física', new_pessoafisica_path %>
