<h1>Relação de Empréstimos:</h1>

<table>
  <thead>
    <tr>
      <th>Data do Contrato</th>
      <th>Valor Contratado</th>
      <th>Numero de Parcelas</th>
      <th>Conta Corrente</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @emprestimos.each do |emprestimo| %>
      <tr>
        <td><%= emprestimo.datacontrato %></td>
        <td><%= emprestimo.valorcontratado %></td>
        <td><%= emprestimo.numeroparcelas %></td>
        <td><%= emprestimo.contacorrente %></td>
        <td><%= link_to 'Ver', emprestimo %></td>
        <td><%= link_to 'Editar', edit_emprestimo_path(emprestimo) %></td>
        <td><%= link_to 'Excluir', emprestimo, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Empréstimo', new_emprestimo_path %>
