= semantic_form_for [@contapoupanca] do |form|
  
  = form.input :sequencial, :label => 'Sequencial'
  = form.input :saldo, :label => 'Saldo'
  = form.input :contacorrente, :member_label => :conta, :label => 'Conta Corrente' 
  = form.submit 'Salvar'
